<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,40}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,196},{156,40}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,237},{156,38}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,197},{156,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,470},{156,36}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,198},{156,36}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,313},{156,36}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,197},{156,36}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,198},{156,38}}</string>
                <key>offset</key>
                <string>{17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,194},{156,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{154,40}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,194},{154,40}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,158},{154,38}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,198},{154,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{156,38}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,198},{156,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,156},{156,38}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,196},{156,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{156,38}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,195},{156,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,120},{156,38}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,193},{156,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{156,38}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,193},{156,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,276},{156,36}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,196},{156,36}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{156,38}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,197},{156,38}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_run_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4897d0adeba0c7437d3e013b8af7743:1/1$</string>
            <key>textureFileName</key>
            <string>1000_run_3_wp.png</string>
        </dict>
    </dict>
</plist>