<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,134},{130,74}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,176},{130,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,147},{132,72}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,177},{132,72}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,143},{132,74}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,176},{132,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,72},{132,74}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,176},{132,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,74},{132,74}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,176},{132,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1},{132,74}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,175},{132,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,72}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,177},{134,72}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{132,72}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,176},{132,72}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,72},{134,70}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,178},{134,70}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{134,70}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,177},{134,70}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1},{134,70}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,178},{134,70}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,218},{132,70}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,178},{132,70}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_stand_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c160eae9902f8893bed24fc30336f25:1/1$</string>
            <key>textureFileName</key>
            <string>1000_stand_3_wp.png</string>
        </dict>
    </dict>
</plist>