<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{65,123}}</string>
                <key>offset</key>
                <string>{-34,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,74},{65,123}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,123},{23,125}}</string>
                <key>offset</key>
                <string>{-29,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,64},{23,125}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{129,73}}</string>
                <key>offset</key>
                <string>{28,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,101},{129,73}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,65},{23,137}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,78},{23,137}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{139,39}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,166},{139,39}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,41},{137,23}}</string>
                <key>offset</key>
                <string>{60,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,168},{137,23}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,123},{131,27}}</string>
                <key>offset</key>
                <string>{64,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,165},{131,27}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{135,33}}</string>
                <key>offset</key>
                <string>{63,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,163},{135,33}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{135,37}}</string>
                <key>offset</key>
                <string>{62,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,163},{135,37}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_attack_1_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:698da96e10d48e702679e0969c483fc4:1/1$</string>
            <key>textureFileName</key>
            <string>1000_attack_1_wp.png</string>
        </dict>
    </dict>
</plist>