<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,314},{128,72}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,172},{128,72}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1},{88,114}}</string>
                <key>offset</key>
                <string>{-76,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,48},{88,114}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,308},{116,116}}</string>
                <key>offset</key>
                <string>{-60,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,67},{116,116}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,170},{130,30}}</string>
                <key>offset</key>
                <string>{-32,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,123},{130,30}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,233},{74,124}}</string>
                <key>offset</key>
                <string>{18,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,118},{74,124}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{86,34}}</string>
                <key>offset</key>
                <string>{22,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,171},{86,34}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,425},{104,30}}</string>
                <key>offset</key>
                <string>{9,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,153},{104,30}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,116},{104,116}}</string>
                <key>offset</key>
                <string>{-31,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,107},{104,116}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{160,38}}</string>
                <key>offset</key>
                <string>{21,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,136},{160,38}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,40},{84,142}}</string>
                <key>offset</key>
                <string>{50,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,136},{84,142}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{112,128}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,169},{112,128}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{44,132}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,170},{44,132}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,387},{88,112}}</string>
                <key>offset</key>
                <string>{-76,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,47},{88,112}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_magic_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1babea3143d41d1133695dd199391836:1/1$</string>
            <key>textureFileName</key>
            <string>1000_magic_3_wp.png</string>
        </dict>
    </dict>
</plist>