<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,241},{156,58}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,186},{156,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,64},{156,60}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,187},{156,60}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,62},{156,60}}</string>
                <key>offset</key>
                <string>{-27,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,186},{156,60}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{156,58}}</string>
                <key>offset</key>
                <string>{-27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,185},{156,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,184},{156,58}}</string>
                <key>offset</key>
                <string>{-27,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,184},{156,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,182},{156,58}}</string>
                <key>offset</key>
                <string>{-27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,185},{156,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,180},{156,58}}</string>
                <key>offset</key>
                <string>{-27,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,187},{156,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,125},{156,58}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,188},{156,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,123},{156,58}}</string>
                <key>offset</key>
                <string>{-28,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,186},{156,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{156,58}}</string>
                <key>offset</key>
                <string>{-28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,185},{156,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{158,58}}</string>
                <key>offset</key>
                <string>{-28,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,183},{158,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1},{156,60}}</string>
                <key>offset</key>
                <string>{-27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,184},{156,60}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1},{156,62}}</string>
                <key>offset</key>
                <string>{-28,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,185},{156,62}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,60},{156,60}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,188},{156,60}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_run_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b8d58b012345555d7cc4111ef020501:1/1$</string>
            <key>textureFileName</key>
            <string>1000_run_1_wp.png</string>
        </dict>
    </dict>
</plist>