<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{94,166}}</string>
                <key>offset</key>
                <string>{-46,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,90},{94,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,190},{42,168}}</string>
                <key>offset</key>
                <string>{-39,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,79},{42,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,196},{176,104}}</string>
                <key>offset</key>
                <string>{39,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,125},{176,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1},{36,188}}</string>
                <key>offset</key>
                <string>{18,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,93},{36,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{192,66}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,207},{192,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,168},{188,46}}</string>
                <key>offset</key>
                <string>{74,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,214},{188,46}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,440},{192,48}}</string>
                <key>offset</key>
                <string>{90,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,212},{192,48}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,168},{186,56}}</string>
                <key>offset</key>
                <string>{87,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,210},{186,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{194,84}}</string>
                <key>offset</key>
                <string>{79,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,208},{194,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_attack_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b5df1484747dbb68f4ee8a37e664322:1/1$</string>
            <key>textureFileName</key>
            <string>1001_attack_1_wp.png</string>
        </dict>
    </dict>
</plist>