<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,118},{134,114}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,145},{134,114}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{140,116}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,143},{140,116}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{138,116}}</string>
                <key>offset</key>
                <string>{-20,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,143},{138,116}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,257},{136,118}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,141},{136,118}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,396},{136,114}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,145},{136,114}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{138,116}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,143},{138,116}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,394},{136,116}}</string>
                <key>offset</key>
                <string>{-22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,143},{136,116}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,257},{138,114}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,145},{138,114}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,396},{138,114}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,145},{138,114}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{138,116}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,143},{138,116}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{138,116}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,143},{138,116}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1},{138,116}}</string>
                <key>offset</key>
                <string>{-20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,143},{138,116}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_stand_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e261d6cd22487e2f81fba580e7d4219e:1/1$</string>
            <key>textureFileName</key>
            <string>1001_stand_1_wp.png</string>
        </dict>
    </dict>
</plist>