<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,241},{181,101}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,161},{181,101}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1},{185,89}}</string>
                <key>offset</key>
                <string>{-64,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,172},{185,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{195,67}}</string>
                <key>offset</key>
                <string>{-62,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,169},{195,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{199,63}}</string>
                <key>offset</key>
                <string>{-63,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,171},{199,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,437},{107,43}}</string>
                <key>offset</key>
                <string>{32,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,177},{107,43}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,187},{177,93}}</string>
                <key>offset</key>
                <string>{18,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,132},{177,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,241},{187,105}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,122},{187,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,71},{201,105}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,115},{201,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{215,69}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,130},{215,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1},{203,93}}</string>
                <key>offset</key>
                <string>{-30,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,140},{203,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,95},{199,91}}</string>
                <key>offset</key>
                <string>{-44,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,152},{199,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,281},{173,99}}</string>
                <key>offset</key>
                <string>{-52,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,158},{173,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_die_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ccd7fe5f42d067a3d80d0ec226592b3:1/1$</string>
            <key>textureFileName</key>
            <string>1002_die_3_wp.png</string>
        </dict>
    </dict>
</plist>