<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,108},{98,198}}</string>
                <key>offset</key>
                <string>{-63,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,55},{98,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,106},{62,202}}</string>
                <key>offset</key>
                <string>{-44,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,51},{62,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{198,144}}</string>
                <key>offset</key>
                <string>{46,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,95},{198,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,211},{90,212}}</string>
                <key>offset</key>
                <string>{29,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,77},{90,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,302},{210,120}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,162},{210,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,106},{216,104}}</string>
                <key>offset</key>
                <string>{90,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,172},{216,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{214,96}}</string>
                <key>offset</key>
                <string>{96,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,189},{214,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{226,106}}</string>
                <key>offset</key>
                <string>{103,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,195},{226,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1},{222,104}}</string>
                <key>offset</key>
                <string>{97,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,191},{222,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_attack_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5afdd427c130979d2d2f39772dc7b149:1/1$</string>
            <key>textureFileName</key>
            <string>1003_attack_1_wp.png</string>
        </dict>
    </dict>
</plist>