<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,110},{154,124}}</string>
                <key>offset</key>
                <string>{-34,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,124},{154,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,134},{138,116}}</string>
                <key>offset</key>
                <string>{57,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,90},{138,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,225},{136,124}}</string>
                <key>offset</key>
                <string>{62,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,82},{136,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,86},{162,138}}</string>
                <key>offset</key>
                <string>{38,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,73},{162,138}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{182,132}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,82},{182,132}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{108,140}}</string>
                <key>offset</key>
                <string>{-35,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,107},{108,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{132,132}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,127},{132,132}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,225},{128,64}}</string>
                <key>offset</key>
                <string>{29,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,142},{128,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1},{174,84}}</string>
                <key>offset</key>
                <string>{-19,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,106},{174,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,384},{122,130}}</string>
                <key>offset</key>
                <string>{-68,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,97},{122,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,354},{132,82}}</string>
                <key>offset</key>
                <string>{-25,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,133},{132,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,354},{74,86}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,118},{74,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,384},{122,98}}</string>
                <key>offset</key>
                <string>{58,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,98},{122,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_magic_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20c69b580e88163137a9270d702b3f0d:1/1$</string>
            <key>textureFileName</key>
            <string>1003_magic_1_wp.png</string>
        </dict>
    </dict>
</plist>