<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1},{2,2}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,182},{2,2}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,268},{76,60}}</string>
                <key>offset</key>
                <string>{55,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,124},{76,60}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,268},{64,50}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,146},{64,50}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,185},{92,66}}</string>
                <key>offset</key>
                <string>{-85,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,124},{92,66}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{226,94}}</string>
                <key>offset</key>
                <string>{-25,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{226,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{222,88}}</string>
                <key>offset</key>
                <string>{-27,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{222,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{136,82}}</string>
                <key>offset</key>
                <string>{9,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,41},{136,82}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,252},{80,72}}</string>
                <key>offset</key>
                <string>{32,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,51},{80,72}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_3_ef.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5297afd205ae07d1dd6e0efc0603119d:1/1$</string>
            <key>textureFileName</key>
            <string>attack_3_ef.png</string>
        </dict>
    </dict>
</plist>
