<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,377},{210,158}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,192},{210,158}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1},{310,180}}</string>
                <key>offset</key>
                <string>{61,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,178},{310,180}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,182},{294,162}}</string>
                <key>offset</key>
                <string>{67,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,188},{294,162}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,192},{272,148}}</string>
                <key>offset</key>
                <string>{54,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,191},{272,148}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,345},{216,130}}</string>
                <key>offset</key>
                <string>{59,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,201},{216,130}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,345},{200,168}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,182},{200,168}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,377},{194,158}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,179},{194,158}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,504},{184,138}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,182},{184,138}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,476},{182,142}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,190},{182,142}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{216,162}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,190},{216,162}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,188},{282,188}}</string>
                <key>offset</key>
                <string>{20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,188},{282,188}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1},{340,186}}</string>
                <key>offset</key>
                <string>{58,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,185},{340,186}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{340,190}}</string>
                <key>offset</key>
                <string>{66,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,175},{340,190}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_1_ef.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8dc368f0db88abf3368f552679d2937:1/1$</string>
            <key>textureFileName</key>
            <string>magic_1_ef.png</string>
        </dict>
    </dict>
</plist>
