<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,152}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,154},{200,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{196,150}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,155},{196,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{196,138}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,156},{196,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,304},{194,154}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,153},{194,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,460},{190,154}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,154},{190,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{192,152}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,155},{192,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{196,136}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,157},{196,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,154},{196,148}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,155},{196,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e275742b32c09c2094bfa3acd833a9cd$</string>
            <key>textureFileName</key>
            <string>run_1.png</string>
        </dict>
    </dict>
</plist>
