<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{20,34}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,178},{20,34}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,66},{68,16}}</string>
                <key>offset</key>
                <string>{50,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,203},{68,16}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{66,18}}</string>
                <key>offset</key>
                <string>{51,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,202},{66,18}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,104},{64,18}}</string>
                <key>offset</key>
                <string>{52,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,202},{64,18}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,102},{50,44}}</string>
                <key>offset</key>
                <string>{51,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,182},{50,44}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,64}}</string>
                <key>offset</key>
                <string>{43,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,156},{84,64}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,33},{70,20}}</string>
                <key>offset</key>
                <string>{55,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,188},{70,20}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,88},{66,18}}</string>
                <key>offset</key>
                <string>{49,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,202},{66,18}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,33},{54,20}}</string>
                <key>offset</key>
                <string>{55,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,196},{54,20}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{58,14}}</string>
                <key>offset</key>
                <string>{54,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,203},{58,14}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,22},{32,10}}</string>
                <key>offset</key>
                <string>{68,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,203},{32,10}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{4,2}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,217},{4,2}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_die_3_wp.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec7021a6fa9072b468d3e86b7de10e4c:1/1$</string>
            <key>textureFileName</key>
            <string>1000_die_3_wp.png</string>
        </dict>
    </dict>
</plist>