<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,211},{115,35}}</string>
                <key>offset</key>
                <string>{-32,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,188},{115,35}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{55,55}}</string>
                <key>offset</key>
                <string>{52,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,181},{55,55}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,151},{59,113}}</string>
                <key>offset</key>
                <string>{22,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,108},{59,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{71,91}}</string>
                <key>offset</key>
                <string>{65,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,152},{71,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{135,49}}</string>
                <key>offset</key>
                <string>{-58,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,169},{135,49}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{149,41}}</string>
                <key>offset</key>
                <string>{-64,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,174},{149,41}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{131,93}}</string>
                <key>offset</key>
                <string>{-54,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,168},{131,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,95},{57,145}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,167},{57,145}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_attack_1_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7f6d3f9746f0a9353cfe4a51553e698:1/1$</string>
            <key>textureFileName</key>
            <string>1002_attack_1_wp.png</string>
        </dict>
    </dict>
</plist>