<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,127},{42,162}}</string>
                <key>offset</key>
                <string>{-34,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,123},{42,162}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,64},{168,62}}</string>
                <key>offset</key>
                <string>{-38,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,274},{168,62}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1},{170,62}}</string>
                <key>offset</key>
                <string>{-39,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,274},{170,62}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,90},{164,58}}</string>
                <key>offset</key>
                <string>{-36,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,278},{164,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,216},{122,56}}</string>
                <key>offset</key>
                <string>{-54,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,198},{122,56}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,198},{128,64}}</string>
                <key>offset</key>
                <string>{-54,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,201},{128,64}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1},{164,88}}</string>
                <key>offset</key>
                <string>{-49,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,210},{164,88}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,170},{142,76}}</string>
                <key>offset</key>
                <string>{-36,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,257},{142,76}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,149},{154,66}}</string>
                <key>offset</key>
                <string>{-39,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,266},{154,66}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{164,72}}</string>
                <key>offset</key>
                <string>{-40,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,269},{164,72}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{174,60}}</string>
                <key>offset</key>
                <string>{-43,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,276},{174,60}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,62},{168,62}}</string>
                <key>offset</key>
                <string>{-38,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,274},{168,62}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_die_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b3cc6b26ae25937d61edb4fccbc1de:1/1$</string>
            <key>textureFileName</key>
            <string>1002_die_1_wp.png</string>
        </dict>
    </dict>
</plist>