<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,48},{38,136}}</string>
                <key>offset</key>
                <string>{42,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,128},{38,136}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,191},{104,60}}</string>
                <key>offset</key>
                <string>{-33,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,134},{104,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1},{136,70}}</string>
                <key>offset</key>
                <string>{-74,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,112},{136,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{140,46}}</string>
                <key>offset</key>
                <string>{-76,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{140,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,128},{106,82}}</string>
                <key>offset</key>
                <string>{-81,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,98},{106,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,215},{88,104}}</string>
                <key>offset</key>
                <string>{-62,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,143},{88,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,106},{98,108}}</string>
                <key>offset</key>
                <string>{48,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,139},{98,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1},{130,126}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,75},{130,126}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,72},{118,120}}</string>
                <key>offset</key>
                <string>{3,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,81},{118,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{102,44}}</string>
                <key>offset</key>
                <string>{23,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,104},{102,44}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{112,82}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,90},{112,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,170},{62,108}}</string>
                <key>offset</key>
                <string>{-38,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,101},{62,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1},{100,104}}</string>
                <key>offset</key>
                <string>{-39,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,100},{100,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,128},{104,40}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,156},{104,40}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_magic_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19781ed076243ddb58770fc2e666a966:1/1$</string>
            <key>textureFileName</key>
            <string>1003_magic_3_wp.png</string>
        </dict>
    </dict>
</plist>