<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{92,44}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,189},{92,44}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{98,54}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,188},{98,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,58}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,183},{100,58}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1},{98,60}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,182},{98,60}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,60},{98,52}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,184},{98,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,62},{96,44}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,187},{96,44}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,191},{64,52}}</string>
                <key>offset</key>
                <string>{30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,178},{64,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{62,46}}</string>
                <key>offset</key>
                <string>{30,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,183},{62,46}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,217},{58,48}}</string>
                <key>offset</key>
                <string>{28,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,181},{58,48}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,260},{56,52}}</string>
                <key>offset</key>
                <string>{31,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,179},{56,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,162},{82,54}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,181},{82,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{88,54}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,186},{88,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,100},{90,58}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,186},{90,58}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,107},{94,54}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{94,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_run_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b333546dc4823ad4964297cb649f3d4:1/1$</string>
            <key>textureFileName</key>
            <string>1003_run_3_wp.png</string>
        </dict>
    </dict>
</plist>