<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,122},{34,12}}</string>
                <key>offset</key>
                <string>{27,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,107},{34,12}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,101},{22,20}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,112},{22,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,171},{118,36}}</string>
                <key>offset</key>
                <string>{-35,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,104},{118,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,74},{24,26}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,111},{24,26}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,74},{96,44}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,81},{96,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{184,102}}</string>
                <key>offset</key>
                <string>{-35,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,77},{184,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,104},{174,106}}</string>
                <key>offset</key>
                <string>{-31,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,74},{174,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{100,88}}</string>
                <key>offset</key>
                <string>{-72,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,94},{100,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1},{62,72}}</string>
                <key>offset</key>
                <string>{-89,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,110},{62,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_3_ef.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ea6dfff2578364e82a9ff0d3bbf5d5:1/1$</string>
            <key>textureFileName</key>
            <string>attack_3_ef.png</string>
        </dict>
    </dict>
</plist>
