<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,193},{56,98}}</string>
                <key>offset</key>
                <string>{-28,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,55},{56,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,178},{26,100}}</string>
                <key>offset</key>
                <string>{-24,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,48},{26,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,145},{110,68}}</string>
                <key>offset</key>
                <string>{23,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,72},{110,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{32,116}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,52},{32,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,124},{68,62}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,96},{68,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{190,72}}</string>
                <key>offset</key>
                <string>{34,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,129},{190,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,74},{190,70}}</string>
                <key>offset</key>
                <string>{29,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,126},{190,70}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1},{122,62}}</string>
                <key>offset</key>
                <string>{68,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,130},{122,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{90,56}}</string>
                <key>offset</key>
                <string>{83,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,130},{90,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_1_ef.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65c499c348331020934eea378af89ded:1/1$</string>
            <key>textureFileName</key>
            <string>attack_1_ef.png</string>
        </dict>
    </dict>
</plist>
