<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,804},{150,106}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,259},{150,106}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,373},{336,332}}</string>
                <key>offset</key>
                <string>{-65,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,41},{336,332}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1},{368,344}}</string>
                <key>offset</key>
                <string>{-81,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{368,344}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{378,344}}</string>
                <key>offset</key>
                <string>{-87,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{378,344}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{346,342}}</string>
                <key>offset</key>
                <string>{-99,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{346,342}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,881},{160,138}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,224},{160,138}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,681},{158,122}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{158,122}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,710},{170,140}}</string>
                <key>offset</key>
                <string>{-27,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,243},{170,140}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,720},{220,176}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,192},{220,176}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,188},{232,184}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,184},{232,184}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,720},{190,212}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,178},{190,212}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1},{186,242}}</string>
                <key>offset</key>
                <string>{26,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,150},{186,242}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,346},{334,344}}</string>
                <key>offset</key>
                <string>{-52,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,32},{334,344}}</string>
                <key>sourceSize</key>
                <string>{576,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_3_ef.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95973aaa0d0b6e515dfd4e032bddae28:1/1$</string>
            <key>textureFileName</key>
            <string>magic_3_ef.png</string>
        </dict>
    </dict>
</plist>
