<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,98},{1,1}}</string>
                <key>offset</key>
                <string>{-184.5,184.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,98},{1,1}}</string>
                <key>offset</key>
                <string>{-184.5,184.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,98},{1,1}}</string>
                <key>offset</key>
                <string>{-184.5,184.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,377},{90,100}}</string>
                <key>offset</key>
                <string>{103,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,116},{90,100}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{254,96}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,138},{254,96}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,98},{214,78}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,137},{214,78}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{202,92}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,123},{202,92}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,270},{106,88}}</string>
                <key>offset</key>
                <string>{-40,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,127},{106,88}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_1_ef.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fece19b849e6324620efa1ddccbd46d:1/1$</string>
            <key>textureFileName</key>
            <string>attack_1_ef.png</string>
        </dict>
    </dict>
</plist>
