<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,48},{38,50}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,94},{38,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,134},{44,32}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,116},{44,32}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,95},{30,38}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,107},{30,38}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,95},{46,42}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,102},{46,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1},{50,46}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,98},{50,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{48,46}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,98},{48,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,48},{48,46}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,97},{48,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{50,46}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,98},{50,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_1_addon.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c91ae3375f114010d5a986e3c094ec3f:1/1$</string>
            <key>textureFileName</key>
            <string>attack_1_addon.png</string>
        </dict>
    </dict>
</plist>
