<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{1,1}}</string>
                <key>offset</key>
                <string>{-162,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{1,1}}</string>
                <key>offset</key>
                <string>{-162,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{1,1}}</string>
                <key>offset</key>
                <string>{-162,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,303},{81,109}}</string>
                <key>offset</key>
                <string>{-97,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,76},{81,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{225,103}}</string>
                <key>offset</key>
                <string>{-15,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,66},{225,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{209,97}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,79},{209,97}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{197,101}}</string>
                <key>offset</key>
                <string>{-14,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,79},{197,101}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{199,99}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,82},{199,99}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_3_ef.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9e4357504c8e9ef1179fa15a2336d65:1/1$</string>
            <key>textureFileName</key>
            <string>attack_3_ef.png</string>
        </dict>
    </dict>
</plist>
