<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,172}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,136},{76,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,414},{118,90}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,217},{118,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1},{116,90}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,217},{116,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1},{112,86}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,221},{112,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1},{100,126}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,182},{100,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{86,160}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,148},{86,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,174},{92,166}}</string>
                <key>offset</key>
                <string>{-11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,142},{92,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1},{106,152}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,156},{106,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,341},{114,152}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,156},{114,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,154},{116,134}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,173},{116,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,128},{122,120}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,187},{122,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,289},{124,98}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,209},{124,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789ee04407e61c9a0edc437e670f0b19:1/1$</string>
            <key>textureFileName</key>
            <string>die_1.png</string>
        </dict>
    </dict>
</plist>
