<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1},{36,48}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,129},{36,48}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1},{54,52}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,138},{54,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,174},{54,46}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,143},{54,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,115},{52,42}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,144},{52,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,56},{32,50}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,130},{32,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,119},{36,58}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,125},{36,58}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,178},{48,56}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,127},{48,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,60},{52,54}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,131},{52,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,119},{52,54}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,131},{52,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1},{28,50}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,134},{28,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,58}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,130},{58,58}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,60},{58,56}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,133},{58,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die_3_addon.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f26588f24993726e3eb1c295fd8a9ca9:1/1$</string>
            <key>textureFileName</key>
            <string>die_3_addon.png</string>
        </dict>
    </dict>
</plist>
