<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,246},{22,18}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,268},{22,18}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,742},{316,272}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,215},{316,272}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,384},{266,178}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,222},{266,178}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,583},{196,86}}</string>
                <key>offset</key>
                <string>{-44,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,229},{196,86}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,483},{178,72}}</string>
                <key>offset</key>
                <string>{-47,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,231},{178,72}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1},{1,1}}</string>
                <key>offset</key>
                <string>{-307.5,307.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,563},{178,230}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,173},{178,230}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{220,190}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,219},{220,190}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,670},{336,320}}</string>
                <key>offset</key>
                <string>{56,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,194},{336,320}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1},{392,296}}</string>
                <key>offset</key>
                <string>{85,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,226},{392,296}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,298},{374,284}}</string>
                <key>offset</key>
                <string>{89,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,234},{374,284}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{400,244}}</string>
                <key>offset</key>
                <string>{100,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,267},{400,244}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1},{382,220}}</string>
                <key>offset</key>
                <string>{99,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,276},{382,220}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,246},{378,236}}</string>
                <key>offset</key>
                <string>{101,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,258},{378,236}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_1_ef.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e7e1fb2438cf9b2a558ec08c61de523:1/1$</string>
            <key>textureFileName</key>
            <string>magic_1_ef.png</string>
        </dict>
    </dict>
</plist>
