<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,340},{1,1}}</string>
                <key>offset</key>
                <string>{-307.5,307.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1},{370,210}}</string>
                <key>offset</key>
                <string>{-49,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,187},{370,210}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,595},{222,162}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,228},{222,162}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,919},{138,102}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,239},{138,102}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,758},{118,48}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,281},{118,48}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,340},{1,1}}</string>
                <key>offset</key>
                <string>{-307.5,307.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,758},{178,160}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,234},{178,160}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,372},{222,202}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,198},{222,202}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,665},{342,350}}</string>
                <key>offset</key>
                <string>{-62,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{342,350}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{392,360}}</string>
                <key>offset</key>
                <string>{-95,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{392,360}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,362},{384,356}}</string>
                <key>offset</key>
                <string>{-100,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,47},{384,356}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1},{384,338}}</string>
                <key>offset</key>
                <string>{-100,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,65},{384,338}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,340},{378,324}}</string>
                <key>offset</key>
                <string>{-97,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,79},{378,324}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,719},{344,262}}</string>
                <key>offset</key>
                <string>{-84,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,139},{344,262}}</string>
                <key>sourceSize</key>
                <string>{616,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_3_ef.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99a6f78e7c9a987ca96564e518da46b1:1/1$</string>
            <key>textureFileName</key>
            <string>magic_3_ef.png</string>
        </dict>
    </dict>
</plist>
