<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1},{44,48}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,91},{44,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,89},{48,42}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,92},{48,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,89},{48,42}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,93},{48,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,48},{48,44}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{48,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,93},{46,46}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,91},{46,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,85},{46,48}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,90},{46,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{46,50}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,89},{46,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,42},{46,48}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,90},{46,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,50},{48,44}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,91},{48,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1},{50,44}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,90},{50,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{50,42}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,92},{50,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,46},{50,42}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,91},{50,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{54,40}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,93},{54,40}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1},{52,40}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,94},{52,40}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_1_addon.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8cfd5a29505b04dbd7f93d9efd8c996:1/1$</string>
            <key>textureFileName</key>
            <string>run_1_addon.png</string>
        </dict>
    </dict>
</plist>
