<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{126,38}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,175},{126,38}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,259},{128,40}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,174},{128,40}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,429},{126,40}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,174},{126,40}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,130},{126,38}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,175},{126,38}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,470},{126,38}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,175},{126,38}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{126,40}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,174},{126,40}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,259},{128,40}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,174},{128,40}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1},{128,42}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,173},{128,42}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,130},{128,42}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,173},{128,42}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,44}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,172},{128,44}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{128,42}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,173},{128,42}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{128,42}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,173},{128,42}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_stand_1_wp.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f7e7015ff6d15c81fe76a2c9073d41:1/1$</string>
            <key>textureFileName</key>
            <string>1000_stand_1_wp.png</string>
        </dict>
    </dict>
</plist>