<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{118,90}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,115},{118,90}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1},{78,102}}</string>
                <key>offset</key>
                <string>{37,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,97},{78,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,119},{40,90}}</string>
                <key>offset</key>
                <string>{62,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,99},{40,90}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{42,60}}</string>
                <key>offset</key>
                <string>{66,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,122},{42,60}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,80},{92,40}}</string>
                <key>offset</key>
                <string>{49,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,118},{92,40}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,80},{94,38}}</string>
                <key>offset</key>
                <string>{36,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,100},{94,38}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_attack_3_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef957658819a73f26ae40858d99cd841:1/1$</string>
            <key>textureFileName</key>
            <string>1000_attack_3_wp.png</string>
        </dict>
    </dict>
</plist>