<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,195},{120,86}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,152},{120,86}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,100},{122,94}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,153},{122,94}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{120,96}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,153},{120,96}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,316},{120,90}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,152},{120,90}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,316},{118,92}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,152},{118,92}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,185},{118,84}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,153},{118,84}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,316},{120,86}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,152},{120,86}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,96},{122,88}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,153},{122,88}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,96},{124,88}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,153},{124,88}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,94},{126,90}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,153},{126,90}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1},{126,92}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,152},{126,92}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1},{126,94}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,152},{126,94}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1},{126,94}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,153},{126,94}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,98}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,152},{128,98}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_run_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ac533b0213053e5030c6b2e3dedcd3a:1/1$</string>
            <key>textureFileName</key>
            <string>1001_run_3_wp.png</string>
        </dict>
    </dict>
</plist>