<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{141,93}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,186},{141,93}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{171,103}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,187},{171,103}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,105},{175,107}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,188},{175,107}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{173,105}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,188},{173,105}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,213},{141,127}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,151},{141,127}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,335},{139,133}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,147},{139,133}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,105},{147,121}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,157},{147,121}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1},{155,103}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,165},{155,103}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{163,123}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{163,123}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,341},{163,137}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{163,137}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,359},{167,135}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,164},{167,135}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,227},{173,131}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,165},{173,131}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_die_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5fa33a931a070f92b91ef099e03e18c:1/1$</string>
            <key>textureFileName</key>
            <string>1001_die_3_wp.png</string>
        </dict>
    </dict>
</plist>