<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{66,70}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,229},{66,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,133},{66,78}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,229},{66,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1},{60,82}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,228},{60,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,82}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,226},{62,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{68,78}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,226},{68,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,220},{72,72}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,228},{72,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,271},{64,72}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,231},{64,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,202},{70,76}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,230},{70,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,76},{68,78}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,227},{68,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,64},{68,78}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,225},{68,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,62},{70,78}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,224},{70,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,200},{70,76}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,226},{70,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{74,78}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,225},{74,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,145},{74,76}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,228},{74,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_run_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b94e38dec54e3b086e605bfa3c321ed9:1/1$</string>
            <key>textureFileName</key>
            <string>1001_run_1_wp.png</string>
        </dict>
    </dict>
</plist>