<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,171},{50,86}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,169},{50,86}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1},{122,102}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,153},{122,102}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,88},{116,118}}</string>
                <key>offset</key>
                <string>{-24,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,160},{116,118}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{164,94}}</string>
                <key>offset</key>
                <string>{-48,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,169},{164,94}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{84,96}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,171},{84,96}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,96},{58,74}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,167},{58,74}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,205},{80,82}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,152},{80,82}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,104},{108,118}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,125},{108,118}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1},{104,96}}</string>
                <key>offset</key>
                <string>{-33,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,140},{104,96}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{94,84}}</string>
                <key>offset</key>
                <string>{-29,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,152},{94,84}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,106},{102,96}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,153},{102,96}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1},{124,86}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,139},{124,86}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,203},{96,98}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,152},{96,98}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_magic_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9774ee863e2f87402bd5244f59e76e79:1/1$</string>
            <key>textureFileName</key>
            <string>1002_magic_1_wp.png</string>
        </dict>
    </dict>
</plist>