<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{208,98}}</string>
                <key>offset</key>
                <string>{-11,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{208,98}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,100},{188,94}}</string>
                <key>offset</key>
                <string>{16,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,105},{188,94}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,100},{148,60}}</string>
                <key>offset</key>
                <string>{-12,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,109},{148,60}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{4,4}}</string>
                <key>offset</key>
                <string>{-12,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,121},{4,4}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_3_ef.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3b4c3584b92d9a7a2f9621b425d1da:1/1$</string>
            <key>textureFileName</key>
            <string>attack_3_ef.png</string>
        </dict>
    </dict>
</plist>
