<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,114},{116,138}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,133},{116,138}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,352},{108,126}}</string>
                <key>offset</key>
                <string>{-24,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,141},{108,126}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{152,106}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,171},{152,106}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1},{148,112}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,165},{148,112}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,350},{132,126}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{132,126}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{132,132}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,145},{132,132}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1},{108,144}}</string>
                <key>offset</key>
                <string>{-25,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,129},{108,144}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,108},{108,146}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,124},{108,146}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,110},{126,138}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,130},{126,138}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,237},{108,126}}</string>
                <key>offset</key>
                <string>{-24,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,145},{108,126}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,231},{116,120}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,149},{116,120}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,237},{114,126}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,143},{114,126}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,350},{104,132}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,131},{104,132}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,348},{114,130}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,134},{114,130}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e548cd1fdf19f23032c86e82bd70c96b:1/1$</string>
            <key>textureFileName</key>
            <string>magic_1.png</string>
        </dict>
    </dict>
</plist>
