<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,122},{120,156}}</string>
                <key>offset</key>
                <string>{-36,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,131},{120,156}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{120,154}}</string>
                <key>offset</key>
                <string>{-37,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,133},{120,154}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,243},{122,156}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,131},{122,156}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{122,156}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,131},{122,156}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,366},{122,154}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,132},{122,154}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{120,154}}</string>
                <key>offset</key>
                <string>{-36,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,132},{120,154}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,366},{122,154}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,132},{122,154}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,366},{122,154}}</string>
                <key>offset</key>
                <string>{-38,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,132},{122,154}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,243},{122,154}}</string>
                <key>offset</key>
                <string>{-38,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,132},{122,154}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{120,156}}</string>
                <key>offset</key>
                <string>{-38,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,131},{120,156}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,122},{120,156}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,131},{120,156}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,156}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,131},{120,156}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98152dd3a09d8971244db9f5a7309536:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
