<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{70,120}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,128},{70,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,305},{88,74}}</string>
                <key>offset</key>
                <string>{14,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,202},{88,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,287},{88,80}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,204},{88,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,208},{90,78}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,207},{90,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1},{58,116}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,130},{58,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,60},{64,104}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,144},{64,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,72},{74,98}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,148},{74,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,218},{86,88}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,155},{86,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,125},{92,82}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,159},{92,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,147},{92,70}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,168},{92,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,208},{90,70}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,179},{90,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,299},{86,68}}</string>
                <key>offset</key>
                <string>{14,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,196},{86,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a503933335a8d732b11868523a04f0:1/1$</string>
            <key>textureFileName</key>
            <string>die_3.png</string>
        </dict>
    </dict>
</plist>
