<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,114}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,112},{66,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,372},{82,84}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,145},{82,84}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,317},{84,76}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,153},{84,76}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,372},{86,76}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,155},{86,76}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,260},{56,104}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,120},{56,104}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,228},{60,104}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,120},{60,104}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{72,110}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,114},{72,110}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,90},{82,110}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,116},{82,110}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1},{88,112}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,118},{88,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,68},{86,112}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,120},{86,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,173},{86,108}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,122},{86,108}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{82,100}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,129},{82,100}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a09b77c80bfb36363084dbc8f290a6:1/1$</string>
            <key>textureFileName</key>
            <string>die_1.png</string>
        </dict>
    </dict>
</plist>
