<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{102,150}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,148},{102,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,297},{88,140}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,86},{88,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,94},{110,124}}</string>
                <key>offset</key>
                <string>{3,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,119},{110,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,142},{100,138}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,116},{100,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,303},{92,144}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,123},{92,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{100,140}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,159},{100,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,152},{96,150}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,136},{96,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1},{68,142}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,135},{68,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1},{82,134}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,138},{82,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{92,130}}</string>
                <key>offset</key>
                <string>{-20,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,131},{92,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,438},{72,140}}</string>
                <key>offset</key>
                <string>{-19,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,113},{72,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{68,150}}</string>
                <key>offset</key>
                <string>{-12,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,86},{68,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,152},{78,144}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,83},{78,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4547e17f787a7eb5808660d403a57f3:1/1$</string>
            <key>textureFileName</key>
            <string>magic_1.png</string>
        </dict>
    </dict>
</plist>
