<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{68,116}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,118},{68,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,210},{66,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,119},{66,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,72},{68,118}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,119},{68,118}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1},{70,118}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,119},{70,118}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{72,120}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,117},{72,120}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,74},{66,118}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,118},{66,118}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,344},{68,114}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,119},{68,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{68,114}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,119},{68,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,275},{68,114}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,118},{68,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,413},{68,112}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,118},{68,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,208},{66,116}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,116},{66,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,413},{66,114}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,117},{66,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,346},{66,114}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,118},{66,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,141},{66,116}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,118},{66,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ede2deac7f516376bc872f4753b597:1/1$</string>
            <key>textureFileName</key>
            <string>run_3.png</string>
        </dict>
    </dict>
</plist>
