<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,70},{68,114}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,116},{68,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,417},{64,110}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,117},{64,110}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,279},{70,110}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,117},{70,110}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{70,112}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,116},{70,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,70},{70,112}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,117},{70,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,210},{68,112}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,118},{68,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1},{68,114}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,116},{68,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{68,114}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,116},{68,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,141},{68,112}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,117},{68,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,342},{68,110}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,118},{68,110}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,350},{66,110}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,117},{66,110}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{66,108}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,118},{66,108}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,210},{66,112}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,116},{66,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,277},{64,112}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,116},{64,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ca813a4ce4fc28211cf00a65a1c87c8:1/1$</string>
            <key>textureFileName</key>
            <string>run_1.png</string>
        </dict>
    </dict>
</plist>
