<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,129},{50,24}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,194},{50,24}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,154},{36,46}}</string>
                <key>offset</key>
                <string>{-64,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,177},{36,46}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,191},{32,30}}</string>
                <key>offset</key>
                <string>{-71,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,213},{32,30}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,162},{28,38}}</string>
                <key>offset</key>
                <string>{-72,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,226},{28,38}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{60,34}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,186},{60,34}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,78},{30,68}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,173},{30,68}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1},{38,72}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{38,72}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{66,52}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,162},{66,52}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,49},{74,28}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,162},{74,28}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,16}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,166},{86,16}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,18},{74,30}}</string>
                <key>offset</key>
                <string>{-49,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,179},{74,30}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,74},{54,50}}</string>
                <key>offset</key>
                <string>{-64,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,171},{54,50}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_die_1_wp.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:783c699a2c6745b4d1da8bf5925f9963:1/1$</string>
            <key>textureFileName</key>
            <string>1000_die_1_wp.png</string>
        </dict>
    </dict>
</plist>