<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,52},{36,48}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,166},{36,48}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{38,70}}</string>
                <key>offset</key>
                <string>{55,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,196},{38,70}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,106},{30,64}}</string>
                <key>offset</key>
                <string>{61,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,203},{30,64}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{28,54}}</string>
                <key>offset</key>
                <string>{63,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,214},{28,54}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,150},{60,58}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,162},{60,58}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,214},{26,48}}</string>
                <key>offset</key>
                <string>{-16,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,163},{26,48}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{40,50}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,154},{40,50}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{64,26}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,162},{64,26}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,164},{62,20}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,173},{62,20}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,12}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,186},{84,12}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,14},{72,52}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,200},{72,52}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,89},{54,60}}</string>
                <key>offset</key>
                <string>{55,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,198},{54,60}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_die_3_wp.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d56691f2fd61b05d9ea13d29e7ecb1a:1/1$</string>
            <key>textureFileName</key>
            <string>1000_die_3_wp.png</string>
        </dict>
    </dict>
</plist>