<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,78},{62,62}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,152},{62,62}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1},{26,42}}</string>
                <key>offset</key>
                <string>{40,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,200},{26,42}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,28},{38,50}}</string>
                <key>offset</key>
                <string>{37,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,192},{38,50}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,168},{34,54}}</string>
                <key>offset</key>
                <string>{39,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,188},{34,54}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,176},{32,54}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,187},{32,54}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,78}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,157},{76,78}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,203},{22,22}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,195},{22,22}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,236},{16,22}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,201},{16,22}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,209},{24,26}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,197},{24,26}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,209},{36,36}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,194},{36,36}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{34,56}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,181},{34,56}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,108},{28,60}}</string>
                <key>offset</key>
                <string>{33,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,181},{28,60}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,79},{28,60}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,182},{28,60}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,137},{30,58}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,185},{30,58}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_run_3_wp.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae1be60cac5ce8b8ce0c1f5cf106fe66:1/1$</string>
            <key>textureFileName</key>
            <string>1001_run_3_wp.png</string>
        </dict>
    </dict>
</plist>