<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,409},{73,35}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,171},{73,35}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{153,65}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,153},{153,65}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{147,91}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,123},{147,91}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,133},{147,85}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,129},{147,85}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{145,77}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,136},{145,77}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,281},{109,79}}</string>
                <key>offset</key>
                <string>{-24,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,136},{109,79}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,409},{77,51}}</string>
                <key>offset</key>
                <string>{27,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,155},{77,51}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,361},{67,51}}</string>
                <key>offset</key>
                <string>{32,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,146},{67,51}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{81,53}}</string>
                <key>offset</key>
                <string>{32,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,145},{81,53}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,67},{87,65}}</string>
                <key>offset</key>
                <string>{28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,151},{87,65}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{99,65}}</string>
                <key>offset</key>
                <string>{19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,148},{99,65}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,353},{107,55}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,153},{107,55}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{123,51}}</string>
                <key>offset</key>
                <string>{8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{123,51}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,237},{141,63}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,154},{141,63}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_magic_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:408f3941705fb0ba3e2865b3e776cf67:1/1$</string>
            <key>textureFileName</key>
            <string>1001_magic_1_wp.png</string>
        </dict>
    </dict>
</plist>