<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,228},{54,62}}</string>
                <key>offset</key>
                <string>{-30,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,151},{54,62}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{74,78}}</string>
                <key>offset</key>
                <string>{-21,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,135},{74,78}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,151},{76,78}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,135},{76,78}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,159},{76,76}}</string>
                <key>offset</key>
                <string>{-19,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,137},{76,76}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,80},{78,78}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,136},{78,78}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,72},{78,82}}</string>
                <key>offset</key>
                <string>{-19,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,131},{78,82}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{78,82}}</string>
                <key>offset</key>
                <string>{-20,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,132},{78,82}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,84}}</string>
                <key>offset</key>
                <string>{-21,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,131},{76,84}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,78},{76,80}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,134},{76,80}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{70,84}}</string>
                <key>offset</key>
                <string>{-23,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,129},{70,84}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_stand_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8fedb71a336e19dd97f8c7261f779ad:1/1$</string>
            <key>textureFileName</key>
            <string>1001_stand_3_wp.png</string>
        </dict>
    </dict>
</plist>