<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,120},{74,34}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,173},{74,34}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,42},{80,38}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,169},{80,38}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,85},{76,38}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,170},{76,38}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,83},{78,36}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,171},{78,36}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,44},{80,40}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,169},{80,40}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,42},{80,40}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,170},{80,40}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,42}}</string>
                <key>offset</key>
                <string>{11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,167},{80,42}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{80,40}}</string>
                <key>offset</key>
                <string>{12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,169},{80,40}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,81},{78,42}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,168},{78,42}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1},{80,40}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,170},{80,40}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_stand_1_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:544f41e55bd76ddf6b6dffc01f5bfd4a:1/1$</string>
            <key>textureFileName</key>
            <string>1001_stand_1_wp.png</string>
        </dict>
    </dict>
</plist>