<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,72},{54,46}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,156},{54,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,72},{56,82}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,118},{56,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,129},{92,68}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,133},{92,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,133},{104,68}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,132},{104,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1},{122,70}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,136},{122,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{124,60}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,148},{124,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,62},{110,70}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,141},{110,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{108,66}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,143},{108,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_attack_1_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa9a608e20b45d47403d8fcd98be9158:1/1$</string>
            <key>textureFileName</key>
            <string>1001_attack_1_wp.png</string>
        </dict>
    </dict>
</plist>