<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,373},{84,94}}</string>
                <key>offset</key>
                <string>{-12,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,140},{84,94}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,157},{126,108}}</string>
                <key>offset</key>
                <string>{32,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,185},{126,108}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{124,108}}</string>
                <key>offset</key>
                <string>{34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,186},{124,108}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1},{116,106}}</string>
                <key>offset</key>
                <string>{36,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,188},{116,106}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{94,96}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,143},{94,96}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,335},{74,94}}</string>
                <key>offset</key>
                <string>{-17,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,132},{74,94}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,430},{68,78}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,141},{68,78}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,320},{98,52}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,153},{98,52}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,284},{108,50}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,160},{108,50}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,108},{112,48}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,175},{112,48}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,110},{132,100}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,178},{132,100}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{132,108}}</string>
                <key>offset</key>
                <string>{35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,182},{132,108}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_die_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d658da5eff1a6bf4f8a21ad11b1cb03e:1/1$</string>
            <key>textureFileName</key>
            <string>1002_die_3_wp.png</string>
        </dict>
    </dict>
</plist>