<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{72,96}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,96},{72,96}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,80},{70,44}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,142},{70,44}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,50},{102,52}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,134},{102,52}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,48}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,128},{114,48}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1},{104,78}}</string>
                <key>offset</key>
                <string>{-21,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,90},{104,78}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,80},{100,70}}</string>
                <key>offset</key>
                <string>{-24,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,93},{100,70}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,176},{64,76}}</string>
                <key>offset</key>
                <string>{-20,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,103},{64,76}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,151},{66,92}}</string>
                <key>offset</key>
                <string>{-12,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,91},{66,92}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_attack_3_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daebbc84fc7c46500d6ddab5fd813a1d:1/1$</string>
            <key>textureFileName</key>
            <string>1003_attack_3_wp.png</string>
        </dict>
    </dict>
</plist>