<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,76},{92,74}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,184},{92,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,76},{92,74}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,184},{92,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1},{92,74}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,184},{92,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,301},{90,74}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,184},{90,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{92,74}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,184},{92,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,301},{90,74}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,184},{90,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{90,74}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,184},{90,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{90,74}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,185},{90,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,226},{90,74}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,185},{90,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,226},{90,74}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,185},{90,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,151},{90,74}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,185},{90,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{90,74}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,185},{90,74}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_stand_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aba7614966155aa2d9470656c817b3e4:1/1$</string>
            <key>textureFileName</key>
            <string>1000_stand_3_wp.png</string>
        </dict>
    </dict>
</plist>