<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,174},{118,16}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,203},{118,16}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,371},{100,140}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,161},{100,140}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,191},{92,152}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,135},{92,152}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,385},{74,160}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,138},{74,160}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1},{146,50}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,173},{146,50}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,381},{130,18}}</string>
                <key>offset</key>
                <string>{44,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,204},{130,18}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,210},{174,138}}</string>
                <key>offset</key>
                <string>{33,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,101},{174,138}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,381},{88,98}}</string>
                <key>offset</key>
                <string>{-30,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,159},{88,98}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1},{104,172}}</string>
                <key>offset</key>
                <string>{57,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,110},{104,172}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,180},{110,190}}</string>
                <key>offset</key>
                <string>{65,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,84},{110,190}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,180},{112,200}}</string>
                <key>offset</key>
                <string>{66,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,72},{112,200}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1},{108,208}}</string>
                <key>offset</key>
                <string>{65,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,64},{108,208}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{244,178}}</string>
                <key>offset</key>
                <string>{94,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,185},{244,178}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,344},{88,86}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,211},{88,86}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_magic_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99d3c25651f9ad57c19340aa0a28db96:1/1$</string>
            <key>textureFileName</key>
            <string>1000_magic_1_wp.png</string>
        </dict>
    </dict>
</plist>