<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,48},{102,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,216},{102,56}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,310},{92,76}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,212},{92,76}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,233},{92,76}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,211},{92,76}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{92,78}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,207},{92,78}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{94,72}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,209},{94,72}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{98,64}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,213},{98,64}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1},{108,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,223},{108,46}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,42}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,226},{110,42}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,44},{104,50}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,222},{104,50}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,105},{96,60}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,216},{96,60}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,166},{94,66}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,211},{94,66}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,326},{92,68}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,210},{92,68}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,233},{92,68}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,211},{92,68}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,312},{92,72}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,212},{92,72}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_run_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:142ccf748851190aaa1da3b1afe9f907:1/1$</string>
            <key>textureFileName</key>
            <string>1000_run_3_wp.png</string>
        </dict>
    </dict>
</plist>