<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,56},{102,50}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,181},{102,50}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,232},{82,32}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,208},{82,32}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{92,34}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,202},{92,34}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,203},{92,32}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,199},{92,32}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,150},{94,36}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,193},{94,36}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{98,42}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,187},{98,42}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1},{108,52}}</string>
                <key>offset</key>
                <string>{-10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,184},{108,52}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,54}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,186},{110,54}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,54},{104,52}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,189},{104,52}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,107},{96,48}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,193},{96,48}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,156},{92,46}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,195},{92,46}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{92,44}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,198},{92,44}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,187},{92,42}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,201},{92,42}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,94},{92,38}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,204},{92,38}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_run_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b638ef716310f49ea46e1c8cf7a2c74:1/1$</string>
            <key>textureFileName</key>
            <string>1000_run_1_wp.png</string>
        </dict>
    </dict>
</plist>