<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{128,82}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,214},{128,82}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,267},{108,90}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,190},{108,90}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,358},{104,72}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,187},{104,72}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,156},{174,116}}</string>
                <key>offset</key>
                <string>{-76,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,148},{174,116}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,84},{182,124}}</string>
                <key>offset</key>
                <string>{-44,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,209},{182,124}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,154},{186,142}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,201},{186,142}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1},{188,152}}</string>
                <key>offset</key>
                <string>{-48,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,192},{188,152}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{188,154}}</string>
                <key>offset</key>
                <string>{-48,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,191},{188,154}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_attack_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d0471bebef79456e935bccfff4042c0:1/1$</string>
            <key>textureFileName</key>
            <string>1001_attack_3_wp.png</string>
        </dict>
    </dict>
</plist>