<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,149},{85,45}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,142},{85,45}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,181},{73,45}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,150},{73,45}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,227},{77,43}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,148},{77,43}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,195},{79,41}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,146},{79,41}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{81,39}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,146},{81,39}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{83,41}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,145},{83,41}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{91,45}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,146},{91,45}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,101},{93,47}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,148},{93,47}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{93,45}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,151},{93,45}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,83},{97,45}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,151},{97,45}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,55},{101,45}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,151},{101,45}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{105,49}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,148},{105,49}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{107,51}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,147},{107,51}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{105,53}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,144},{105,53}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_run_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b76cc12cc267c9ae9c9ec482d55d0183:1/1$</string>
            <key>textureFileName</key>
            <string>1001_run_1_wp.png</string>
        </dict>
    </dict>
</plist>