<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{118,82}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,198},{118,82}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{100,74}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,185},{100,74}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,235},{94,92}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,161},{94,92}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,434},{76,94}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,177},{76,94}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{146,140}}</string>
                <key>offset</key>
                <string>{-24,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,129},{146,140}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,436},{134,68}}</string>
                <key>offset</key>
                <string>{-52,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,168},{134,68}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1},{172,94}}</string>
                <key>offset</key>
                <string>{-39,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,155},{172,94}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,130},{118,104}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,151},{118,104}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1},{96,132}}</string>
                <key>offset</key>
                <string>{-69,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,42},{96,132}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,134},{112,154}}</string>
                <key>offset</key>
                <string>{-72,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,38},{112,154}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,96},{116,156}}</string>
                <key>offset</key>
                <string>{-72,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,40},{116,156}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,289},{112,144}}</string>
                <key>offset</key>
                <string>{-69,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,52},{112,144}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{240,128}}</string>
                <key>offset</key>
                <string>{-100,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,96},{240,128}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,213},{90,146}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,143},{90,146}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_magic_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4286002dc3634f4333c9ef9f0bb8f22:1/1$</string>
            <key>textureFileName</key>
            <string>1001_magic_3_wp.png</string>
        </dict>
    </dict>
</plist>