<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{89,57}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,165},{89,57}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{93,71}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,165},{93,71}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,219},{91,73}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,162},{91,73}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1},{93,79}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,156},{93,79}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,293},{83,71}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,159},{83,71}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,177},{85,63}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,163},{85,63}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{93,51}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,171},{93,51}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{95,49}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,174},{95,49}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,263},{89,55}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{89,55}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{85,63}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,163},{85,63}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,87},{89,65}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,161},{89,65}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,151},{93,67}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,161},{93,67}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{93,67}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,162},{93,67}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,81},{93,69}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,163},{93,69}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_run_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23ef1e6f43733907df23313c4828514e:1/1$</string>
            <key>textureFileName</key>
            <string>1001_run_3_wp.png</string>
        </dict>
    </dict>
</plist>