<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{98,62}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,167},{98,62}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,85},{62,50}}</string>
                <key>offset</key>
                <string>{-42,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,216},{62,50}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,85},{58,56}}</string>
                <key>offset</key>
                <string>{-39,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,216},{58,56}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,181},{58,54}}</string>
                <key>offset</key>
                <string>{-39,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,216},{58,54}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{112,34}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,189},{112,34}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,142},{60,98}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,151},{60,98}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{28,108}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,150},{28,108}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1},{28,108}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,152},{28,108}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,36},{42,102}}</string>
                <key>offset</key>
                <string>{-29,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,163},{42,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,30},{54,102}}</string>
                <key>offset</key>
                <string>{-35,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,177},{54,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,142},{76,50}}</string>
                <key>offset</key>
                <string>{-51,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,205},{76,50}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,136},{72,44}}</string>
                <key>offset</key>
                <string>{-47,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,213},{72,44}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_die_3_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28d1b56cad3ae8833e5bf87148d44028:1/1$</string>
            <key>textureFileName</key>
            <string>1001_die_3_wp.png</string>
        </dict>
    </dict>
</plist>