<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,176},{118,20}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,190},{118,20}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,320},{100,138}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,152},{100,138}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,227},{92,148}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,129},{92,148}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,148},{76,156}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,132},{76,156}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1},{146,54}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,162},{146,54}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,478},{130,24}}</string>
                <key>offset</key>
                <string>{41,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,189},{130,24}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,305},{172,134}}</string>
                <key>offset</key>
                <string>{30,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,97},{172,134}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,305},{88,102}}</string>
                <key>offset</key>
                <string>{-29,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,148},{88,102}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{102,172}}</string>
                <key>offset</key>
                <string>{56,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,99},{102,172}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,305},{112,186}}</string>
                <key>offset</key>
                <string>{62,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,78},{112,186}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,112},{114,194}}</string>
                <key>offset</key>
                <string>{63,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,69},{114,194}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1},{110,202}}</string>
                <key>offset</key>
                <string>{62,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,61},{110,202}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{238,174}}</string>
                <key>offset</key>
                <string>{89,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,176},{238,174}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,421},{88,88}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,199},{88,88}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_magic_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:935b9edb9b3befdeaba5e74b866d35fa:1/1$</string>
            <key>textureFileName</key>
            <string>1001_magic_1_wp.png</string>
        </dict>
    </dict>
</plist>