<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,176},{128,88}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,185},{128,88}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,265},{124,108}}</string>
                <key>offset</key>
                <string>{20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,150},{124,108}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,374},{118,84}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,154},{118,84}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,146},{168,114}}</string>
                <key>offset</key>
                <string>{-71,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,126},{168,114}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,144},{170,122}}</string>
                <key>offset</key>
                <string>{-39,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,186},{170,122}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1},{174,136}}</string>
                <key>offset</key>
                <string>{-46,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,178},{174,136}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1},{176,142}}</string>
                <key>offset</key>
                <string>{-44,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,172},{176,142}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{176,144}}</string>
                <key>offset</key>
                <string>{-43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,171},{176,144}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_attack_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc9584ccf6345eec4cf7c96bb5a3afd:1/1$</string>
            <key>textureFileName</key>
            <string>1002_attack_3_wp.png</string>
        </dict>
    </dict>
</plist>