<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,199},{133,93}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,182},{133,93}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,123},{107,75}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,177},{107,75}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1},{95,95}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,151},{95,95}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,97},{79,95}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,169},{79,95}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,321},{145,141}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,123},{145,141}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{137,75}}</string>
                <key>offset</key>
                <string>{-47,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,156},{137,75}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{175,97}}</string>
                <key>offset</key>
                <string>{-39,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,148},{175,97}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,177},{117,107}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,143},{117,107}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,333},{101,133}}</string>
                <key>offset</key>
                <string>{-67,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,42},{101,133}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,285},{119,151}}</string>
                <key>offset</key>
                <string>{-69,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,37},{119,151}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,99},{121,155}}</string>
                <key>offset</key>
                <string>{-69,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,38},{121,155}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,285},{123,145}}</string>
                <key>offset</key>
                <string>{-65,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,47},{123,145}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{235,121}}</string>
                <key>offset</key>
                <string>{-95,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,98},{235,121}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,221},{99,147}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,137},{99,147}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_magic_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92043182ceb5beb79ba6c5d8da1d58ef:1/1$</string>
            <key>textureFileName</key>
            <string>1002_magic_3_wp.png</string>
        </dict>
    </dict>
</plist>