<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,315},{123,45}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,164},{123,45}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,331},{101,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,129},{101,135}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,231},{99,145}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,108},{99,145}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,97},{79,155}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,108},{79,155}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,439},{137,69}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,139},{137,69}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,197},{143,37}}</string>
                <key>offset</key>
                <string>{33,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,164},{143,37}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{165,131}}</string>
                <key>offset</key>
                <string>{24,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,80},{165,131}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,341},{97,101}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,133},{97,101}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,331},{99,161}}</string>
                <key>offset</key>
                <string>{50,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,87},{99,161}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{117,177}}</string>
                <key>offset</key>
                <string>{51,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,65},{117,177}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,115},{115,187}}</string>
                <key>offset</key>
                <string>{53,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,55},{115,187}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{113,193}}</string>
                <key>offset</key>
                <string>{52,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,48},{113,193}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{221,195}}</string>
                <key>offset</key>
                <string>{83,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,156},{221,195}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1},{95,91}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,177},{95,91}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_magic_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fb6cf9e081c6b2a0dfb6e452040cb6f:1/1$</string>
            <key>textureFileName</key>
            <string>1003_magic_1_wp.png</string>
        </dict>
    </dict>
</plist>