<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,223},{121,91}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,170},{121,91}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,91},{103,79}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,165},{103,79}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{103,89}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,145},{103,89}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{81,87}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,159},{81,87}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,329},{139,133}}</string>
                <key>offset</key>
                <string>{-21,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,112},{139,133}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{143,79}}</string>
                <key>offset</key>
                <string>{-48,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,143},{143,79}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1},{175,97}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,131},{175,97}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,251},{113,105}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,128},{113,105}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,121},{107,129}}</string>
                <key>offset</key>
                <string>{-59,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,38},{107,129}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,171},{121,147}}</string>
                <key>offset</key>
                <string>{-57,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,29},{121,147}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,99},{123,151}}</string>
                <key>offset</key>
                <string>{-58,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,29},{123,151}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,319},{115,137}}</string>
                <key>offset</key>
                <string>{-59,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,42},{115,137}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{229,119}}</string>
                <key>offset</key>
                <string>{-93,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{229,119}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,223},{105,141}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,123},{105,141}}</string>
                <key>sourceSize</key>
                <string>{415,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_magic_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f34f1acd12b98f5708b826061dd4fc1b:1/1$</string>
            <key>textureFileName</key>
            <string>1003_magic_3_wp.png</string>
        </dict>
    </dict>
</plist>