<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,287},{96,56}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,134},{96,56}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{98,64}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,137},{98,64}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,287},{96,60}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,137},{96,60}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,384},{92,56}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,138},{92,56}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,384},{92,64}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,138},{92,64}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,348},{92,54}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,137},{92,54}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,222},{102,60}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,135},{102,60}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,149},{114,70}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,135},{114,70}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,76},{114,74}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,134},{114,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1},{116,74}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,135},{116,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{116,74}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,134},{116,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,76},{114,72}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,134},{114,72}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{110,70}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,135},{110,70}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,220},{104,66}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,136},{104,66}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_run_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85341cd7dc4ae444ed5abc510f0f6117:1/1$</string>
            <key>textureFileName</key>
            <string>1003_run_1_wp.png</string>
        </dict>
    </dict>
</plist>