<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,264},{112,56}}</string>
                <key>offset</key>
                <string>{-47,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,173},{112,56}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,111},{116,48}}</string>
                <key>offset</key>
                <string>{-48,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,173},{116,48}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,62},{116,48}}</string>
                <key>offset</key>
                <string>{-48,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,174},{116,48}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,284},{112,50}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,174},{112,50}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,62},{116,60}}</string>
                <key>offset</key>
                <string>{-48,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,172},{116,60}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1},{116,60}}</string>
                <key>offset</key>
                <string>{-48,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,173},{116,60}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{116,60}}</string>
                <key>offset</key>
                <string>{-48,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,170},{116,60}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{114,56}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,171},{114,56}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,180},{114,52}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,173},{114,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,160},{114,52}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,173},{114,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{114,50}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,174},{114,50}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,213},{114,50}}</string>
                <key>offset</key>
                <string>{-47,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,173},{114,50}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_stand_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007dd916988bafa72f33eba7b44ae309:1/1$</string>
            <key>textureFileName</key>
            <string>1000_stand_1_wp.png</string>
        </dict>
    </dict>
</plist>