<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{72,84}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,170},{72,84}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,86},{82,82}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,169},{82,82}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{80,74}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,174},{80,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,88},{72,86}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,161},{72,86}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,88},{76,86}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,162},{76,86}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,86}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,163},{84,86}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1},{78,74}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,177},{78,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,175},{78,82}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,174},{78,82}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_attack_3_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76906339e2854929f0ff21b5577430b4:1/1$</string>
            <key>textureFileName</key>
            <string>1000_attack_3_wp.png</string>
        </dict>
    </dict>
</plist>