<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,337},{139,105}}</string>
                <key>offset</key>
                <string>{43,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,193},{139,105}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,229},{135,111}}</string>
                <key>offset</key>
                <string>{41,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,194},{135,111}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,333},{139,109}}</string>
                <key>offset</key>
                <string>{44,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,194},{139,109}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,223},{139,109}}</string>
                <key>offset</key>
                <string>{43,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,195},{139,109}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,117},{141,103}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,194},{141,103}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{143,107}}</string>
                <key>offset</key>
                <string>{46,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,194},{143,107}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,115},{141,113}}</string>
                <key>offset</key>
                <string>{44,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,194},{141,113}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,221},{139,115}}</string>
                <key>offset</key>
                <string>{43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,195},{139,115}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{141,115}}</string>
                <key>offset</key>
                <string>{43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,195},{141,115}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1},{141,113}}</string>
                <key>offset</key>
                <string>{43,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,195},{141,113}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{141,113}}</string>
                <key>offset</key>
                <string>{43,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,194},{141,113}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,337},{137,111}}</string>
                <key>offset</key>
                <string>{41,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,195},{137,111}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_stand_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2319d8f4cdb072e11738b1eee3c94968:1/1$</string>
            <key>textureFileName</key>
            <string>1001_stand_3_wp.png</string>
        </dict>
    </dict>
</plist>