<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,263},{135,123}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,134},{135,123}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{161,139}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{161,139}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{167,135}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,124},{167,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{155,125}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,134},{155,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,263},{135,123}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,134},{135,123}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,257},{133,123}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,134},{133,123}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,263},{127,135}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,135},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,381},{125,125}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,137},{125,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,141},{121,125}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,135},{121,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,141},{115,129}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,129},{115,129}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,399},{107,133}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,125},{107,133}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{115,143}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,115},{115,143}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{143,139}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,119},{143,139}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_magic_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73fc9d9d3f5c92f58da3499a3a1479c7:1/1$</string>
            <key>textureFileName</key>
            <string>1003_magic_3_wp.png</string>
        </dict>
    </dict>
</plist>