<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{185,115}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,171},{185,115}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,339},{163,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,178},{163,109}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,339},{151,117}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,179},{151,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,119},{173,121}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,166},{173,121}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,187},{151,119}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,175},{151,119}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{199,113}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,175},{199,113}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{193,117}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{193,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,115},{185,109}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,178},{185,109}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{173,111}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,176},{173,111}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{173,111}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,177},{173,111}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,337},{173,109}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,179},{173,109}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_die_1_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afea92749b68475b76987ea745ee06f4:1/1$</string>
            <key>textureFileName</key>
            <string>1003_die_1_wp.png</string>
        </dict>
    </dict>
</plist>