<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{173,125}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,165},{173,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,379},{131,125}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,166},{131,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,379},{125,109}}</string>
                <key>offset</key>
                <string>{-28,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,182},{125,109}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{167,125}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,165},{167,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,253},{139,125}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,165},{139,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,127},{147,125}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,165},{147,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1},{165,125}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,165},{165,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{161,125}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,165},{161,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{153,125}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,166},{153,125}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,127},{149,131}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,166},{149,131}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,379},{129,129}}</string>
                <key>offset</key>
                <string>{-27,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,165},{129,129}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_die_3_wp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c6261aa0607bfd558d2ec6118113e2:1/1$</string>
            <key>textureFileName</key>
            <string>1003_die_3_wp.png</string>
        </dict>
    </dict>
</plist>