<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,108},{136,104}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,169},{136,104}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{134,104}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,170},{134,104}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,134},{132,108}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,169},{132,108}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1},{132,110}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,167},{132,110}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{136,106}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,169},{136,106}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,267},{132,104}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{132,104}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,318},{132,74}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,172},{132,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{130,78}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{130,78}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_attack_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14c46c1a3bd7796d0647870912e8afc5:1/1$</string>
            <key>textureFileName</key>
            <string>1003_attack_1_wp.png</string>
        </dict>
    </dict>
</plist>