<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,888},{154,128}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,332},{154,128}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1},{332,318}}</string>
                <key>offset</key>
                <string>{-15,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,154},{332,318}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1},{332,322}}</string>
                <key>offset</key>
                <string>{-10,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,153},{332,322}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{334,322}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,165},{334,322}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,324},{214,164}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,299},{214,164}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,639},{222,234}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,231},{222,234}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,324},{236,246}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,220},{236,246}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,639},{240,244}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,224},{240,244}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,639},{242,246}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,223},{242,246}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,639},{240,248}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,223},{240,248}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,324},{246,246}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,225},{246,246}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,320},{328,318}}</string>
                <key>offset</key>
                <string>{-15,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,154},{328,318}}</string>
                <key>sourceSize</key>
                <string>{736,736}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_1_ef.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:163e02bc61d80c494592b6f6082ba0cc:1/1$</string>
            <key>textureFileName</key>
            <string>magic_1_ef.png</string>
        </dict>
    </dict>
</plist>
