<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,102},{106,144}}</string>
                <key>offset</key>
                <string>{-31,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,135},{106,144}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,209},{96,144}}</string>
                <key>offset</key>
                <string>{-26,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,135},{96,144}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,148},{94,144}}</string>
                <key>offset</key>
                <string>{-26,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,135},{94,144}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,405},{96,142}}</string>
                <key>offset</key>
                <string>{-27,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,136},{96,142}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,306},{98,142}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,135},{98,142}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,306},{100,142}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,136},{100,142}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,150},{110,146}}</string>
                <key>offset</key>
                <string>{-30,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,134},{110,146}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,299},{112,146}}</string>
                <key>offset</key>
                <string>{-28,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,134},{112,146}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,148}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,133},{110,148}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,150},{108,148}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,134},{108,148}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,299},{106,148}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,134},{106,148}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1},{102,146}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,134},{102,146}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1},{100,146}}</string>
                <key>offset</key>
                <string>{-23,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,134},{100,146}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{100,146}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,134},{100,146}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:728709b1d3506b8beb81864b3ffaa540:1/1$</string>
            <key>textureFileName</key>
            <string>run_1.png</string>
        </dict>
    </dict>
</plist>
