<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,108},{106,150}}</string>
                <key>offset</key>
                <string>{28,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,143},{106,150}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,322},{104,146}}</string>
                <key>offset</key>
                <string>{29,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,142},{104,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,217},{104,146}}</string>
                <key>offset</key>
                <string>{29,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,142},{104,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,215},{104,148}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,142},{104,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1},{106,152}}</string>
                <key>offset</key>
                <string>{29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,142},{106,152}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{108,154}}</string>
                <key>offset</key>
                <string>{28,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,141},{108,154}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{108,152}}</string>
                <key>offset</key>
                <string>{29,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,142},{108,152}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,156},{108,152}}</string>
                <key>offset</key>
                <string>{29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,141},{108,152}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1},{108,150}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,141},{108,150}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,110},{106,148}}</string>
                <key>offset</key>
                <string>{29,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,141},{106,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,320},{106,146}}</string>
                <key>offset</key>
                <string>{29,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,142},{106,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,320},{104,146}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,142},{104,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0db1479859303406258965c0d7e88639:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3.png</string>
        </dict>
    </dict>
</plist>
