<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,129},{19,17}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{19,17}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{63,99}}</string>
                <key>offset</key>
                <string>{85,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,159},{63,99}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,321},{63,101}}</string>
                <key>offset</key>
                <string>{84,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,159},{63,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,99},{29,19}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,162},{29,19}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,137},{93,57}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,155},{93,57}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{129,67}}</string>
                <key>offset</key>
                <string>{40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,149},{129,67}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{135,77}}</string>
                <key>offset</key>
                <string>{47,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,147},{135,77}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{135,97}}</string>
                <key>offset</key>
                <string>{53,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,150},{135,97}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{163,97}}</string>
                <key>offset</key>
                <string>{69,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,151},{163,97}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{123,99}}</string>
                <key>offset</key>
                <string>{76,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,152},{123,99}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,195},{125,101}}</string>
                <key>offset</key>
                <string>{82,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,155},{125,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_1_ef.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5baf3cf1d6847d9446b5cbc185e91b75:1/1$</string>
            <key>textureFileName</key>
            <string>attack_1_ef.png</string>
        </dict>
    </dict>
</plist>
