<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,129},{17,17}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,165},{17,17}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,265},{65,99}}</string>
                <key>offset</key>
                <string>{-81,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,85},{65,99}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{63,101}}</string>
                <key>offset</key>
                <string>{-80,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,83},{63,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,99},{29,19}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,163},{29,19}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{93,57}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,131},{93,57}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{129,67}}</string>
                <key>offset</key>
                <string>{-36,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,128},{129,67}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{135,77}}</string>
                <key>offset</key>
                <string>{-43,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,120},{135,77}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{135,97}}</string>
                <key>offset</key>
                <string>{-49,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,96},{135,97}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{161,97}}</string>
                <key>offset</key>
                <string>{-65,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,96},{161,97}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,137},{121,99}}</string>
                <key>offset</key>
                <string>{-73,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,92},{121,99}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,259},{125,101}}</string>
                <key>offset</key>
                <string>{-77,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,88},{125,101}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_3_ef.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18c282d05663a474c80c2277c84fe208:1/1$</string>
            <key>textureFileName</key>
            <string>attack_3_ef.png</string>
        </dict>
    </dict>
</plist>
