<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1532},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1318},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{218,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{218,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{218,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{218,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,224},{218,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{218,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,220}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{246,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{242,220}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{242,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{238,220}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{238,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{232,224}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{232,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,672},{210,212}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{210,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1104},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,446},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,886},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{212,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2032.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8af58b8f88b951e4405ab12c9ddfa02f$</string>
            <key>textureFileName</key>
            <string>2032.png</string>
        </dict>
    </dict>
</plist>
