<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1},{296,298}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,252},{250,250}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{250,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1},{296,298}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,599},{296,298}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,300},{296,298}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{296,298}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,503},{244,242}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{244,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,298},{246,242}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{246,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,541},{244,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,46},{244,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1},{252,250}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>21105.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf627c7e2b535169419d72bdcebd3633$</string>
            <key>textureFileName</key>
            <string>21105.png</string>
        </dict>
    </dict>
</plist>
