<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,516},{130,148}}</string>
                <key>offset</key>
                <string>{-28,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,155},{130,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,353},{174,176}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,147},{174,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,335},{180,180}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,143},{180,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,212},{186,184}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,138},{186,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1},{158,168}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,153},{158,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,170},{156,164}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,154},{156,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,373},{164,160}}</string>
                <key>offset</key>
                <string>{-38,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,147},{164,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{228,186}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,137},{228,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1},{212,172}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,148},{212,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1},{222,210}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,118},{222,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,188},{216,208}}</string>
                <key>offset</key>
                <string>{-25,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,126},{216,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,174},{178,196}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,137},{178,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,186},{186,192}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,131},{186,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1},{184,198}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,127},{184,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>21101.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0a08c015ece51903b79972e7add1d34$</string>
            <key>textureFileName</key>
            <string>21101.png</string>
        </dict>
    </dict>
</plist>
