<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1},{206,186}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,166},{206,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,776},{250,246}}</string>
                <key>offset</key>
                <string>{-22,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,113},{250,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,529},{254,246}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,112},{254,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,523},{226,236}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,122},{226,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,750},{224,236}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,119},{224,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,523},{230,228}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,126},{230,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,776},{240,226}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,128},{240,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,208},{248,108}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,235},{248,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,756},{254,214}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,139},{254,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,272},{272,238}}</string>
                <key>offset</key>
                <string>{-34,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,119},{272,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,274},{264,254}}</string>
                <key>offset</key>
                <string>{-30,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,104},{264,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,268},{254,272}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,87},{254,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{276,272}}</string>
                <key>offset</key>
                <string>{-36,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,84},{276,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1},{266,272}}</string>
                <key>offset</key>
                <string>{-31,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,85},{266,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1},{272,270}}</string>
                <key>offset</key>
                <string>{-34,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{272,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,511},{244,260}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,99},{244,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>22115.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d41155b0324d50e448a7b0f61945c92$</string>
            <key>textureFileName</key>
            <string>22115.png</string>
        </dict>
    </dict>
</plist>
