<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,451},{229,221}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,84},{229,221}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,599},{113,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,116},{113,165}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,865},{209,133}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,133},{209,133}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{367,221}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,84},{367,221}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{369,223}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,82},{369,223}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,227},{333,221}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,75},{333,221}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{345,225}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,71},{345,225}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1},{365,225}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,66},{365,225}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,369},{319,229}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,65},{319,229}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,449},{307,189}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,98},{307,189}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,599},{237,221}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,80},{237,221}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,639},{225,215}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,88},{225,215}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,639},{207,201}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{207,201}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,821},{207,199}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,100},{207,199}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{203,193}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,106},{203,193}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,841},{189,171}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,111},{189,171}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,821},{145,165}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,116},{145,165}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,867},{135,167}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,116},{135,167}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>23222.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e28c027ca1f6689c2d9bf56f37073e5$</string>
            <key>textureFileName</key>
            <string>23222.png</string>
        </dict>
    </dict>
</plist>
