<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,240},{216,222}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{216,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1},{198,190}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{198,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1},{184,190}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,28},{184,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,186},{176,176}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{176,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,192},{162,162}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{162,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,200},{98,98}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{98,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,477},{220,226}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{220,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,710},{222,228}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{222,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,710},{226,230}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{226,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{228,232}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{228,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,240},{232,236}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{232,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{236,238}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{236,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1},{200,194}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{200,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1},{198,194}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{198,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>24131.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca337b55dd8c9d51af2d6fd12d8caa0$</string>
            <key>textureFileName</key>
            <string>24131.png</string>
        </dict>
    </dict>
</plist>
