<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,320},{102,100}}</string>
                <key>offset</key>
                <string>{-17,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,168},{102,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1},{100,114}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,161},{100,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{100,114}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,168},{100,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{96,122}}</string>
                <key>offset</key>
                <string>{-16,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,164},{96,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,205},{88,112}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,176},{88,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,427},{84,102}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,176},{84,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,496},{84,94}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,180},{84,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,496},{90,94}}</string>
                <key>offset</key>
                <string>{-10,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,176},{90,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,421},{94,102}}</string>
                <key>offset</key>
                <string>{-10,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,172},{94,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{100,102}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,173},{100,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,326},{100,102}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,168},{100,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,294},{106,104}}</string>
                <key>offset</key>
                <string>{-19,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,164},{106,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,211},{108,108}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,165},{108,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{112,106}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,168},{112,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,102},{102,112}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,162},{102,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,510},{100,100}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,160},{100,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,223},{102,108}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,158},{102,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,98},{96,118}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,149},{96,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,399},{82,96}}</string>
                <key>offset</key>
                <string>{-9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,172},{82,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,512},{90,96}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,170},{90,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,399},{96,102}}</string>
                <key>offset</key>
                <string>{-10,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,166},{96,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{106,106}}</string>
                <key>offset</key>
                <string>{-13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,163},{106,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,102},{112,108}}</string>
                <key>offset</key>
                <string>{-16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,159},{112,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{118,112}}</string>
                <key>offset</key>
                <string>{-19,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,156},{118,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,114},{108,112}}</string>
                <key>offset</key>
                <string>{-18,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,156},{108,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>du.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f0f87a04a4c2f9d09898afb8aacd17a$</string>
            <key>textureFileName</key>
            <string>du.png</string>
        </dict>
    </dict>
</plist>
