<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_transport_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,602},{202,196}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,805},{202,196}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,805},{202,196}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1},{204,200}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{204,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,202},{204,198}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{204,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{204,200}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{204,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{202,200}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{202,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,202},{202,200}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{202,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,602},{202,198}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,13},{202,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_transport_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,403},{202,198}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{202,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_transport.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfb8dce058405987fe25b15f7719b2bf$</string>
            <key>textureFileName</key>
            <string>eff_transport.png</string>
        </dict>
    </dict>
</plist>
