<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,162}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,56},{184,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{180,158}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{180,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{168,164}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,53},{168,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,482},{170,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,45},{170,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{170,168}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,41},{170,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{172,170}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{172,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,320},{158,168}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,40},{158,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,490},{164,168}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{164,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,320},{172,160}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,48},{172,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,162},{174,156}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,55},{174,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huyi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:306bd6131590e75a75e4d0944a661d9c$</string>
            <key>textureFileName</key>
            <string>huyi.png</string>
        </dict>
    </dict>
</plist>
