<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zudui_panel_zudui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,60},{26,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>zudui_panel_zudui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>zudui_panel_zudui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,62},{30,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>zudui_panel_zudui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{30,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>zudui_panel_zudui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{26,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>zudui_panel_zudui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{20,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,58}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>zudui_panel_zudui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,64},{18,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>zudui_panel_zudui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zudui.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52fc74b47bfff3bef1996d997356fbe0:1/1$</string>
            <key>textureFileName</key>
            <string>zudui.png</string>
        </dict>
    </dict>
</plist>
