<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,531},{194,100}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,302},{194,100}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,236},{324,294}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,169},{324,294}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1},{402,234}}</string>
                <key>offset</key>
                <string>{65,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,243},{402,234}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{410,224}}</string>
                <key>offset</key>
                <string>{107,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,271},{410,224}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,226},{388,174}}</string>
                <key>offset</key>
                <string>{93,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,274},{388,174}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,531},{250,196}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,216},{250,196}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{244,202}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,210},{244,202}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,782},{248,190}}</string>
                <key>offset</key>
                <string>{-16,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,221},{248,190}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,461},{266,178}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,232},{266,178}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,640},{256,252}}</string>
                <key>offset</key>
                <string>{-12,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,156},{256,252}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,640},{256,260}}</string>
                <key>offset</key>
                <string>{-12,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,146},{256,260}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,640},{250,254}}</string>
                <key>offset</key>
                <string>{-11,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,146},{250,254}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,246},{276,214}}</string>
                <key>offset</key>
                <string>{-23,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,157},{276,214}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_1_ef.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee18cb36b2638e1c1e722c9d77758d5b:1/1$</string>
            <key>textureFileName</key>
            <string>magic_1_ef.png</string>
        </dict>
    </dict>
</plist>
