<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,121},{46,22}}</string>
                <key>offset</key>
                <string>{-5,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,90},{46,22}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,121},{66,66}}</string>
                <key>offset</key>
                <string>{-18,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,105},{66,66}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1},{82,60}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,115},{82,60}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,62},{76,58}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,118},{76,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{156,114}}</string>
                <key>offset</key>
                <string>{-29,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,70},{156,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,90},{158,90}}</string>
                <key>offset</key>
                <string>{-35,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{158,90}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{168,88}}</string>
                <key>offset</key>
                <string>{-40,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,59},{168,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,188},{140,58}}</string>
                <key>offset</key>
                <string>{-28,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,65},{140,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_3_ef.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8ccc88cf05110868e3a5038787ab506:1/1$</string>
            <key>textureFileName</key>
            <string>attack_3_ef.png</string>
        </dict>
    </dict>
</plist>
