<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,627},{142,102}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,349},{142,102}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1},{258,202}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,259},{258,202}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{380,324}}</string>
                <key>offset</key>
                <string>{37,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,249},{380,324}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1},{378,310}}</string>
                <key>offset</key>
                <string>{35,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,241},{378,310}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,312},{370,314}}</string>
                <key>offset</key>
                <string>{32,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,236},{370,314}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,326},{354,300}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,219},{354,300}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,805},{184,118}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,341},{184,118}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,627},{186,154}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,307},{186,154}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,805},{210,172}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,305},{210,172}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,627},{220,174}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,306},{220,174}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,626},{220,178}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,301},{220,178}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,805},{216,200}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,277},{216,200}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,417},{208,224}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,249},{208,224}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,204},{244,212}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,255},{244,212}}</string>
                <key>sourceSize</key>
                <string>{752,752}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_1_ef.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9da4bc92013f20cdb16a0c032f3dfccc:1/1$</string>
            <key>textureFileName</key>
            <string>magic_1_ef.png</string>
        </dict>
    </dict>
</plist>
