<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,400},{92,148}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,149},{92,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,313},{88,154}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,148},{88,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{90,154}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{90,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{84,160}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,145},{84,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,325},{80,160}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,145},{80,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,323},{84,156}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,146},{84,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,309},{90,150}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,149},{90,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,156},{90,152}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,149},{90,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,164},{90,158}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,147},{90,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{96,162}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,145},{96,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,164},{94,160}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,145},{94,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1},{90,156}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,146},{90,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,158},{90,154}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{90,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1},{88,152}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,148},{88,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a41e08cd401a1cbd0d8d43811e15485a:1/1$</string>
            <key>textureFileName</key>
            <string>run_3.png</string>
        </dict>
    </dict>
</plist>
