<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{82,40}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,182},{82,40}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,154},{38,74}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,166},{38,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{52,74}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,170},{52,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,46},{62,74}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,171},{62,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,48},{66,68}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,172},{66,68}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{76,58}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,175},{76,58}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1},{78,44}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,174},{78,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{76,46}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,170},{76,46}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,154},{74,50}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,168},{74,50}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,154},{70,48}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,170},{70,48}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,109},{58,44}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,172},{58,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,109},{50,44}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,177},{50,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{22,44}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,186},{22,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,225},{30,70}}</string>
                <key>offset</key>
                <string>{-28,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,165},{30,70}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_run_3_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10fb1cd6ba21430a1db8f45e6c914574:1/1$</string>
            <key>textureFileName</key>
            <string>1000_run_3_wp.png</string>
        </dict>
    </dict>
</plist>