<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1},{45,41}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,169},{45,41}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{103,93}}</string>
                <key>offset</key>
                <string>{-9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,74},{103,93}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{69,103}}</string>
                <key>offset</key>
                <string>{-20,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,78},{69,103}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,95},{65,93}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,99},{65,93}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{89,61}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,142},{89,61}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,165},{77,63}}</string>
                <key>offset</key>
                <string>{24,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,137},{77,63}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,209},{27,53}}</string>
                <key>offset</key>
                <string>{43,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,120},{27,53}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,161},{75,47}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,112},{75,47}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,87},{77,35}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,132},{77,35}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,165},{43,49}}</string>
                <key>offset</key>
                <string>{-26,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,136},{43,49}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,47},{39,41}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,139},{39,41}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{107,71}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,107},{107,71}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_magic_1_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1bb4f3b8aa7e97ee2daac77797b6836:1/1$</string>
            <key>textureFileName</key>
            <string>1000_magic_1_wp.png</string>
        </dict>
    </dict>
</plist>