<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,49},{75,45}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,169},{75,45}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{43,33}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,148},{43,33}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,39},{83,77}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,133},{83,77}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{75,73}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,105},{75,73}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,87},{81,77}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,119},{81,77}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,125},{69,71}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,141},{69,71}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{107,37}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,148},{107,37}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{87,85}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,110},{87,85}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{55,47}}</string>
                <key>offset</key>
                <string>{25,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,137},{55,47}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,165},{69,33}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,141},{69,33}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1000_attack_1_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54bc6639e894120c2c205adb3e59c1c6:1/1$</string>
            <key>textureFileName</key>
            <string>1000_attack_1_wp.png</string>
        </dict>
    </dict>
</plist>