<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1},{107,65}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,216},{107,65}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,307},{47,51}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,187},{47,51}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,67},{127,119}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,158},{127,119}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,195},{111,115}}</string>
                <key>offset</key>
                <string>{-18,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,126},{111,115}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{127,109}}</string>
                <key>offset</key>
                <string>{-31,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,145},{127,109}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,299},{99,113}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,168},{99,113}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{145,61}}</string>
                <key>offset</key>
                <string>{15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,187},{145,61}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{129,125}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,135},{129,125}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,399},{91,69}}</string>
                <key>offset</key>
                <string>{32,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,177},{91,69}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{95,53}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,181},{95,53}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_attack_1_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621edbba0d12808292d6f3acc693b4f9:1/1$</string>
            <key>textureFileName</key>
            <string>1001_attack_1_wp.png</string>
        </dict>
    </dict>
</plist>