<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,117},{59,77}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,183},{59,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{59,77}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,183},{59,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,57},{59,77}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,183},{59,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,177},{61,77}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,183},{61,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,117},{59,79}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,182},{59,79}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1},{57,79}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,181},{57,79}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{57,79}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,181},{57,79}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{55,79}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,181},{55,79}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,59},{57,81}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,180},{57,81}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,59},{57,81}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,180},{57,81}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{59,81}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,180},{59,81}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,177},{61,79}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,182},{61,79}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001_stand_3_wp.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e265ac3ae9f459e7b15ae5a5ac68e0e5:1/1$</string>
            <key>textureFileName</key>
            <string>1001_stand_3_wp.png</string>
        </dict>
    </dict>
</plist>