<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,69},{71,95}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,175},{71,95}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{147,81}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,97},{147,81}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,323},{107,61}}</string>
                <key>offset</key>
                <string>{13,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,125},{107,61}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{97,67}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,144},{97,67}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{125,79}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,174},{125,79}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,261},{107,61}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,184},{107,61}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{67,79}}</string>
                <key>offset</key>
                <string>{-50,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,210},{67,79}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,189},{113,71}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,188},{113,71}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{111,89}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,161},{111,89}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,141},{47,93}}</string>
                <key>offset</key>
                <string>{26,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,132},{47,93}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{73,75}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,123},{73,75}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{153,93}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,96},{153,93}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1002_magic_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebf77b08220aa7e9bedf7a981ba63a86:1/1$</string>
            <key>textureFileName</key>
            <string>1002_magic_3_wp.png</string>
        </dict>
    </dict>
</plist>