<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,281},{65,101}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,176},{65,101}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,67},{67,103}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,174},{67,103}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1},{65,105}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,173},{65,105}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{67,105}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,173},{67,105}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,273},{67,101}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,176},{67,101}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{67,101}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,177},{67,101}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{69,101}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,177},{69,101}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{73,99}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,178},{73,99}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,341},{73,99}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,178},{73,99}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{73,101}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,176},{73,101}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,135},{69,101}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,175},{69,101}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,205},{67,101}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,176},{67,101}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003_stand_3_wp.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c9632c16e7f7fee9fc2b13207cf9eab:1/1$</string>
            <key>textureFileName</key>
            <string>1003_stand_3_wp.png</string>
        </dict>
    </dict>
</plist>